body{
    margin: 0;
}

.container-inside-nav{
    display: flex;
    padding: 15px 15px 15px 15px;
}

ul{
    list-style: none;
    padding: 0;
}

li{
    float: left;
}

a{
    text-decoration: none;  
}

ul li a{
    border: .1em solid white;
    padding: 15px;
    color: black;
    font-weight: 500;
}

ul li a:hover{
    color: white;
    background-color: black;
    border: .1em solid black;
    border-radius: 50px;
}

/* centrar elementos/items dentro del div */
.logo-nav, .ul-div-nav{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 15px;
}

.div-icons-nav{
    display: flex;
    justify-content: center;
    align-items: center;
}

.notifications, .message, .profile-img, .option-nav{
    margin-right: 15px;
    margin-left: 15px;
}

.input-search-div-nav{
    width: 67%;
    margin: 0;
}

.finder{
    height: 95%;
    width: 100%;
    border: .1em solid #E8E8E8;
    border-radius: 50px;
    padding-left: 25px;
    font-size: 1em;
    background-color: #E8E8E8;
}

.finder:hover{
    border: .1em solid #DFDFDF;
    background-color: #DFDFDF;
}

#content{
    margin: 20px;
}

.row-card-image{
    display: flex;
}

.card-image{
    width: auto;
    height: auto;
    margin: 10px;
}

div.card-image img{
    width: 200px;
    height: 350px;
    border: .1em solid white;
    border-radius: 30px;
}